*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    width: 350px;
    padding: 30px 15px 15px 15px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"]{
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    font-size: 36px;
    padding: 5px;
    height: 70px;
    background-color: rgb(241, 241, 241);
    text-overflow: ellipsis;
    text-align: right;
}

hr{
    margin: 15px 0;
    background-color: silver;
}

form .onOffBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

form .onOffBtn input{
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 10%;
    background-color: rgb(232, 20, 20);
    box-shadow: 2px 2px 8px rgb(188, 146, 146),
                inset -2px -2px 6px rgb(30, 2, 2);
    cursor: pointer;
    color: #fff;
}

form .onOffBtn .onBtn{
    background-color: #535cF1;
}

form .onOffBtn .offBtn:active{
    font-size: 13px;
}

.onOffBtn .onBtn:active,
.onOffBtn .offBtn:active{
    box-shadow: inset 2px 2px 8px rgb(0, 0, 0),
                inset -2px -2px 6px rgb(16, 1, 1);
}


form .numOpeBtn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

form .numOpeBtn input{
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

form .numOpeBtn input:hover{
    color: rgb(37, 255, 255);
}

form .numOpeBtn .ope{
    background-color: rgba(10, 41, 10, 0.925);
}

form .numOpeBtn .clear{
    background-color: #690505;
}

form .numOpeBtn .blueBtn{
    background-color:  #01012e;
}